DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!o!r%emd^l=aci4%pnvf8oj4qr(z%qttx2teg!uwts#vuibwl^y"

DJANGO_ADMINS="Some User:some.user@gmail.com,"
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
#DJANGO_DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/test_products_task
#DJANGO_DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/test_products_task_my

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com

DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_TEST_RUN=off

DJANGO_HEALTH_CHECK_BODY="Success"
